/* Text or CSV  */
.a_icon {
    display: inline-block; /* Damit padding und border-radius angewendet werden */
    padding: 5px; /* Abstand um das Icon */
    text-align: center; /* Zentriert den Text bzw. das Bild horizontal */
    border-radius: 50%; /* Macht den Hintergrund rund */
}

.a_icon:hover {
    color: #6a1e98; /* Farbe beim Darüberfahren mit der Maus */
    background: rgba(73, 117, 142, 0.24);
}

/* Excel */
.button_img {
    display: inline-block; /* Damit padding und border-radius angewendet werden */
    padding: 5px; /* Abstand um das Bild */
    text-align: center; /* Zentriert das Bild horizontal */
    border-radius: 50%; /* Macht den Hintergrund rund */
    transition: background-color 0.3s; /* Weicher Übergang für den Hintergrund */
}

.button_img:hover {
    background-color: rgba(73, 117, 142, 0.24); /* Farbe beim Darüberfahren mit der Maus */
    cursor: pointer;
}

/* Text, CSV  or Excel */
.img_icon {
    vertical-align: middle; /* Zentriert das Bild vertikal */
    height: 30px;
    width: auto; /* Erhält das Seitenverhältnis des Bildes */
}

/* Other classes */
.navigation__separator {
    border-top: 1px solid #ddd;
    margin: 6px 12px;
}

hr {
    width: 100%;
    margin: 20px 0;
}