{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}?v=1">

{% endblock head %}


{% block title %}Overview: {{ project}}{% endblock title %}


{% block large_navigation %}
    <a class="mdl-navigation__link" href="{{ url_for('project.projects_list') }}">Projects List</a>
    {% if project.peaks_csv %}
        <a class="mdl-navigation__link" href="{{ url_for('view.redirect_first', project_id=project.id) }}">Show Peaks</a>
    {% endif %}
{% endblock large_navigation %}


{% block side_navigation %}
     <a class="mdl-navigation__link" href="{{ url_for('project.projects_list') }}">Projects List</a>
    {% if project.peaks_csv %}
        <a class="mdl-navigation__link" href="{{ url_for('view.redirect_first', project_id=project.id) }}">Show Peaks</a>
    {% endif %}
{% endblock side_navigation %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell" style="width: 400px;">
            <form id="nameForm" method="post" >
                <div class="form-group">
                    <label for="project_name">Project Name:</label>
                    <input class="mdl-js-textfield" type="text" id="project_name" value="{{ project.name if project.name else ''}}" name="project_name" onchange="sendNameForm()">
                </div>
                <input type="hidden" name="action" value="name_edit"><!-- zur Identifizierung des POSTs  -->
            </form>
            <div class="form-group">
                <label for="og_file">Original File:</label>
                <a href="{{ url_for('data', filename=project.ascii_file) }}">Open</a>
            </div>
            <div class="form-group">
                <label for="information_csv">Information CSV:</label>
                {% if project.info_csv %}
                <a href="{{ url_for('data', filename=project.info_csv) }}">Download CSV</a>
                {% else %}
                    <b>-</b>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="measurements_csv">Measurement CSV:</label>
                {% if project.measurements_csv %}
                    <a href="{{ url_for('data', filename=project.measurements_csv) }}">Download CSV</a>
                {% else %}
                    <b>-</b>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Peaks CSV:</label>
                {% if project.peaks_csv %}
                    <a href="{{ url_for('data', filename=project.peaks_csv) }}">Download CSV</a>
                {% else %}
                    <b>-</b>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input class="mdl-js-textfield" type="text" id="date" value="{{ project.date.strftime('%d.%m.%Y %H:%M') if project.date else '' }}" name="project_date" disabled>
            </div>

            <hr> <!-- Hier wird die Trennlinie eingefügt -->
            <div class="mdl-grid" style="padding-left: 0;">
                 <form id="generatePeaksForm" method="post" >
                     <div class="form-group">
                        <label for="find_peak_height">Peak Search Height:</label>
                        <input class="mdl-js-textfield" type="number" id="find_peak_height" name="project_find_peak_height" min="0" max="1" step="0.01" value="{{ project.find_peak_height}}">
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" type="button" id="peak_height_info" onmouseover="get_bubble(this.id, true, 'height')"  onmouseout="get_bubble(this.id, false)">?</button>
                        <div id="peak_height_info_bubble" style="display: none; position: absolute; padding: 10px; background-color: white; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);"></div>
                     </div>
                    <div class="form-group">
                        <label for="find_peak_prominence">Peak Prominence:</label>
                        <input class="mdl-js-textfield" type="number" id="find_peak_prominence" name="project_find_peak_prominence" min="0" max="1" step="0.001" value="{{ project.find_peak_prominence}}">
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" type="button" id="peak_prominence_info" onmouseover="get_bubble(this.id, true, 'prominence')"  onmouseout="get_bubble(this.id, false)">?</button>
                        <div id="peak_prominence_info_bubble" style="display: none; position: absolute; padding: 10px; background-color: white; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);"></div>

                    </div>

                     {% if project.peaks_csv %}
                         <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" onclick="sendGeneratePeaksForm()">Generate Peaks</button>
                     {% else %}
                         <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Generate Peaks</button>
                     {% endif %}
                     <input type="hidden" name="action" value="generate_peaks"><!-- zur Identifizierung des POSTs  -->
                 </form>
            </div>
            <hr> <!-- Hier wird die Trennlinie eingefügt -->
            <div class="mdl-grid" style="padding-left: 0;">
                 <form id="deleteForm" method="post" >
                     <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" style="background: darkred;" onclick="sendDeleteForm()">Delete Project</button>
                     <input type="hidden" name="action" value="delete_project"><!-- zur Identifizierung des POSTs  -->
                 </form>
            </div>
        </div>
    </div>

    <script>

    function sendNameForm() {
        let form = document.getElementById('nameForm');
        form.submit();
    }

      function sendGeneratePeaksForm() {
         if (confirm('Are you sure you want to generate new Peaks! This will overwrite your changes!')) {
             document.getElementById('generatePeaksForm').submit();
         }
    }

    function sendDeleteForm() {
        if (confirm('Are you sure you want to delete this project?')) {
        // Wenn der Benutzer bestätigt, senden Sie das Formular
        document.getElementById('deleteForm').submit();
        }
    }

    let prominence = "lorem ipsum"


    function get_bubble(buttonId, show, type) {
        let button = document.getElementById(buttonId);
        let bubble = document.getElementById(buttonId+'_bubble');
        let buttonRect = button.getBoundingClientRect(); // Hole die Position und Größe des Buttons

        if (show) {
            if (type === "prominence") {
                // Setzen des Inhalts der Informationsblase, wenn sie angezeigt werden soll
                bubble.innerHTML = 'Info zur Prominence';
            } else if (type === "height") {
                bubble.innerHTML = 'Info zur Height';
            } else {
                bubble.innerHTML = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.';
            }
            // Positionieren Sie die Blase rechts neben dem Button
            bubble.style.left = (buttonRect.right + 6) + 'px'; // 6px rechts vom Button
            bubble.style.top= (buttonRect.top - 90) + 'px';
            bubble.style.display = 'block'; // Blase anzeigen
        } else {
            // Blase ausblenden und Inhalt leeren
            bubble.style.display = 'none';
            bubble.innerHTML = '';
        }
    }




    </script>
{% endblock content %}






